@keyframes button-transition {
  0% {
    background-color: white;
    color: #0074B2;
  }
  100% {
    background-color: #0074B2;
    color: white;
  }
}

@keyframes link-transition {
  0% {
    color: #0074B2;
  }
  100% {
    color: #505050;
  }
}

@keyframes init {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: .5s ease-out init;
}

table .score {
  font-size: .8em;
  font-weight: 700;
}

table .score sup {
  font-size: .8em;
}

table td {
  vertical-align: middle;
}

.round-robin-table {
  border-spacing: 0;
  width: 100%;
  margin: 1.5em 0;
}

.round-robin-table tr {
  padding: 0;
}

.round-robin-table th {
  text-align: left;
  border-bottom: 1px solid darkgray;
  padding: .8em 0;
}

.round-robin-table th.center {
  text-align: center;
}

.round-robin-table td {
  text-align: center;
}

.round-robin-table .team-label {
  text-align: left;
  width: 16em;
}

.match-result-table td {
  border: none;
}

.match-result-table th {
  border: none;
}

.elimination-table {
  table-layout: fixed;
}

.elimination-table th {
  border-bottom: 1px solid #505050;
}

.elimination-table .td-container {
  display: flex;
  align-items: center;
  border: 0.5px solid rgba(153, 153, 153, 0.5);
  border-left: none;
  padding-right: .8rem;
}

.elimination-table .number {
  width: 2em;
}

.elimination-table .seed {
  width: 2em;
  color: #AEAEAE;
}

.elimination-table .delim {
  border-top: 1px dotted rgba(153, 153, 153, 0.5);
}

.elimination-table .team-label {
  border: 0.5px solid rgba(153, 153, 153, 0.25);
  width: 12em;
  height: auto;
  min-height: 2em;
  word-wrap: break-word;
}

.elimination-table .match-table {
  width: 18rem;
}

.elimination-table .match-table th {
  display: table-cell;
  border: none;
}

.elimination-table .match-table td {
  display: table-cell;
  padding: .5rem 0;
}
