@import 'variables';
@import 'animations';

#footer img {
  width: 50px;
  cursor: pointer;
}

#footer a {
  border: none;
}

#footer a + a {
  margin-left: 3rem;
}

table {
  .score{
    font-weight: 700;
    sup {
      font-size: .8em;
    }
  }

  td {
    vertical-align: middle;
  }
  
  margin: 0;
}

.round-robin-table{
  border-spacing: 0;
  width: 100%;
  tr {
    padding: 0;
  }

  th {
    text-align: left;
    border-bottom: 1px solid lighten($primary, 35%);
    padding: .8em 0;
  }

  th.center{
    text-align: center;
  }


  td{
    text-align: center;
  }

  .team-label {
    text-align: left;
    width: 16em;
  }

  margin: 1.5em 0;
}

.match-result-table {
  td {
    border: none;
  }

  th {
    border: none;
  }
}

table.elimination-table {
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 1rem;
  font-size: .8rem;
  background-color: white; 

  th {
    border-bottom: 1px solid $primary;
  }

  .td-container{
    border: .5px solid rgba(153, 153, 153, 0.50);
    border-radius: 5px;
    padding-left: .5rem;
    padding-right: 2rem;
  }

  .number {
    width: 1.5rem;
  }

  .seed {
    width: 1.5rem;
    color: #AEAEAE;
  }

  .delim {
    border-top: 1px dotted rgba(153, 153, 153, 0.50) ;
  }

  .team-label{
    border: .5px solid rgba(153, 153, 153, 0.25);
    min-width: 12em;
    min-height: 2em;
    border-radius: 5px;
    text-align: center;
    word-wrap: break-word;
  }

  .match-table {
    min-width: 14rem;
  }
}